@page "/Owners/create"

@using FindYourHome.Shared.Entities;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Propietario</h3>

<OwnerForm @ref="ownerForm" Owner="owner" OnSubmit="Create" ReturnAction="Return" />

@code {
    private Owner owner = new();
    private OwnerForm? ownerForm;
    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/Owners", owner);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        ownerForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/Owners");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Owners");
    }
}