@page "/Owners"

@using FindYourHome.Shared.Entities;
@using FindYourHome.WEB.Repositories;

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal


<h3>Propietario</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/Owners/create">Nuevo Propietario</a>
</div>

<GenericList MyList="Owners">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Propietario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Owner in Owners!)
                {
                    <tr>
                        <td>
                            @Owner.FirstName
                        </td>
                        <td>
                            <a href="/Owners/edit/@Owner.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(Owner))>Borrar</button>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Owner>? Owners { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<Owner>>("api/Owners");
        Owners = responseHppt.Response!;
    }

    private async Task Delete(Owner owner)
    {
     var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/Owners/{owner.Id}");
        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }

}
