@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FindYourHome.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

      <AuthorizeView Roles="Admin">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Owners">
                <span class="oi oi-plus" aria-hidden="true"></span> Propietario
            </NavLink>
        </div>
        </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Advisors">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Asesor
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Ownerships">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Inmueble
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Tenants">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Arrendatarios
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Contracts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contratos
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Payments">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pagos
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="States">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Departamento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Cities">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ciudad
            </NavLink>
        </div>
                       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
