@page "/Contracts/create"


@using FindYourHome.Shared.Entities;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Contrato</h3>

<ContractForm @ref="contractForm" Contract="contract" OwnershipList="ownerships" TenantList="tenants" OnSubmit="Create" ReturnAction="Return" />

@code {
    private Contract contract = new();
    private ContractForm? contractForm;

    private List<Ownership> ownerships = new List<Ownership>();
    private List<Tenant> tenants = new List<Tenant>();


    protected override async Task OnInitializedAsync()
    {
        var responseowners = await repository.Get<List<Ownership>>("api/Ownerships/combo");
        ownerships = responseowners.Response!;

        var responseadvisors = await repository.Get<List<Tenant>>("api/tenants/combo");
        tenants = responseadvisors.Response!;
    }




    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/Contracts", contract);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        contractForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/Contracts");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Contracts");
    }
}