@page "/Cities/edit/{Id:int}"

@using FindYourHome.Shared.Entities;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Ciudad</h3>

@if (cities is null)
{
    <div class="align-items-center">
        <img src=" https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700 " />
    </div>
}
else
{
    <CityForm @ref="cityForm" City="cities" StatesList="states" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private City? cities;
    private CityForm? cityForm;

    private List<State> states = new List<State>();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<State>>("api/states/combo");
        states = responseHppt.Response!;

        var responseHTTP = await repository.Get<City>($"api/Cities/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Cities");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            cities = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/Cities", cities);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            cityForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("Cities");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("Cities");
    }
}

