@page "/Payments/create"

@using CurrieTechnologies.Razor.SweetAlert2;
@using FindYourHome.Shared.Entities;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Pago</h3>

<PaymentForm @ref="paymentForm" Payment="payment" ContractList="contracts" OnSubmit="Create" ReturnAction="Return" />

@code {
    private Payment payment = new();
    private PaymentForm? paymentForm;

    private List<Contract> contracts = new List<Contract>();

    protected override async Task OnInitializedAsync()
    {
        var responseowners = await repository.Get<List<Contract>>("api/contracts/combo");
        contracts = responseowners.Response!;
    }


    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/Payments", payment);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        paymentForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/Payments");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Payments");
    }
}