@page "/Advisors/edit/{Id:int}"

@using FindYourHome.Shared.Entities;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Asesor</h3>

@if (advisor is null)
{
    <div class="align-items-center">
        <img src=" https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700 " />
    </div>
}
else
{
    <AdvisorForm @ref="advisorForm" Advisor="advisor" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Advisor? advisor;
    private AdvisorForm? advisorForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Advisor>($"api/Advisors/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Advisors");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            advisor = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/Advisors", advisor);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            advisorForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("Advisors");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("Advisors");
    }
}
